.container_voter{
  /* border: 2px solid red; */
  height: 87vh;
  width: 100%;
  display: flex;
}

.container_voter .sidebar{
  /* border: 2px solid green; */
  width: 25%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.container_voter .main_box_voter{
  /* border: 3px solid yellow; */
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 11px;
}





