.container_bar{
  /* border: 2px solid peru; */
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-color: #5AB9EA;
  border-radius: 8px;
}

.container_by{
  height: 370px;
  border-radius: 8px;
  background-color: #5AB9EA;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}